<%- include('includes/head.ejs') %>
    <body>
        <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
            <!-- Side Overlay-->
            <%- include('includes/aside.ejs') %>
            <!-- END Side Overlay -->

            <!-- Sidebar -->
            <!--
                Sidebar Mini Mode - Display Helper classes

                Adding 'smini-hide' class to an element will make it invisible (opacity: 0) when the sidebar is in mini mode
                Adding 'smini-show' class to an element will make it visible (opacity: 1) when the sidebar is in mini mode
                    If you would like to disable the transition animation, make sure to also add the 'no-transition' class to your element

                Adding 'smini-hidden' to an element will hide it when the sidebar is in mini mode
                Adding 'smini-visible' to an element will show it (display: inline-block) only when the sidebar is in mini mode
                Adding 'smini-visible-block' to an element will show it (display: block) only when the sidebar is in mini mode
            -->
            <%- include('includes/nav.ejs') %>
            <!-- END Sidebar -->

            <!-- Header -->
            <%- include('includes/header.ejs') %>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">

                <!-- Hero -->
                <div class="bg-body-light">
                    <div class="content content-full">
                        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                            <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">New Blog Post</h1>
                            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">Pages</li>
                                    <li class="breadcrumb-item">Blog</li>
                                    <li class="breadcrumb-item active" aria-current="page">New</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- END Hero -->

                <!-- Page Content -->
                <div class="content content-full content-boxed">
                    <!-- New Post -->
                    <form action="/blog-add" method="POST">
                        <div class="block">
                            <div class="block-header block-header-default">
                                <a class="btn btn-light" href="/manage-blog">
                                    <i class="fa fa-arrow-left mr-1"></i> Manage Posts
                                </a>
                                <div class="block-options">
                                    <div class="custom-control custom-switch custom-control-success">
                                        <input type="checkbox" class="custom-control-input" id="dm-post-add-active" name="status">
                                        <label class="custom-control-label" for="dm-post-add-active">Set post as active</label>
                                    </div>
                                </div>
                            </div>
                            <div class="block-content">
                                <div class="row justify-content-center push">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label for="dm-post-add-title">Title</label>
                                            <input type="text" class="form-control" id="dm-post-add-title" name="title" placeholder="Enter a title..">
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-12">
                                                <label>Featured Image</label>
                                                <div class="custom-file">
                                                    <input type="url" class="form-control" id="dm-post-add-image" name="imageUrl" data-toggle="custom-file-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!-- CKEditor (js-ckeditor-inline + js-ckeditor ids are initialized in Helpers.ckeditor()) -->
                                            <!-- For more info and examples you can check out http://ckeditor.com -->
                                            <label>Body</label>
                                            <textarea id="js-ckeditor" name="content"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-content bg-body-light">
                                <div class="row justify-content-center push">
                                    <div class="col-md-10">
                                        <button type="submit" class="btn btn-alt-primary">
                                            <i class="fa fa-fw fa-check mr-1"></i> Create Post
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END New Post -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <%- include('includes/footer.ejs') %>
            <script src="/assets/js/plugins/ckeditor/ckeditor.js"></script>

            <!-- Page JS Helpers (CKEditor plugin) -->
            <script>jQuery(function () {
                                CKEDITOR.config.height = '450px';
                                Dashmix.helpers(['ckeditor']);
                            });</script>
